/*/ INIT /*/
/*
-- z-index info
menu : 100
content: 10
*/

:root {
    /*COLORS*/
    --accent-fruit: #ff3875;
    --accent-mesocarp: #fdfaa5;
    --bg: #f6eeef;
    --nav-bg: #221c1e;
    
    /*NUM*/
    --nav-width: 18%;

}

::selection {
    color: var(--bg);
    background: var(--accent-fruit);
}

body {
    margin: 0;
    font-family: "Montserrat";
    background: var(--bg);
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

#ppm, #navlarge_ppm, .homew {
	-moz-user-select: none;
    user-select: none;
    pointer-events: none;
}
#navtop_ppm, #mobile_nav_dark_bg {
	-moz-user-select: none;
    user-select: none;
}

/*/ MENU DESKTOP /*/
nav {
    z-index: 100;
    overflow: hidden;
    position: fixed;
    width: var(--nav-width);
    max-width: 500px;
    min-width: 255px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--nav-bg);
    box-shadow: 0px -5px 20px 0px rgba(50, 0, 10, 0.4);
    transition: none;
}

@media (max-width: 1435px) {
    :root {
        --nav-width: 255px;
    }
}
/* MENU BUTTONS */
#menu {
    z-index: 105 !important;
    position: absolute;
    width: 100%;
}
.menu_btn {
    position: relative;
}

.mbtns {
    display: block;
    position: relative;
    padding: 20px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 0.65;
    transition: color 1s cubic-bezier(0.4, 0, 0, 1), opacity 1s cubic-bezier(0.4, 0, 0, 1), letter-spacing 0.75s cubic-bezier(0.25, 0.1, 0, 0.9);
	-moz-user-select: none;
    user-select: none;
}
@keyframes cur_spawn {
    0% { color: var(--accent-fruit); letter-spacing: 3px; }
    100% { opacity: 0.9; letter-spacing: 2px; }
}
.current {
    opacity: 0.8 !important;
    background: linear-gradient(-0.25turn, rgba(255,255,255,0.065), rgba(255,255,255,0.025), rgba(255,255,255,0.0075), rgba(255,255,255,0));
    animation: cur_spawn 2s cubic-bezier(0.5, 0, 0, 1);
}

a[class*="mbtns"]:hover {
    opacity: 0.8 !important;
    letter-spacing: 3px;
    transition: opacity 0.2s, letter-spacing 0.4s cubic-bezier(0.25, 0.1, 0, 1.5);
}
a[class*="mbtns"]:active, a[class*="mbtns"]:focus {
    color: var(--accent-fruit) !important;
    opacity: 1 !important;
    transition: color 0.2s, opacity 0.2s, letter-spacing 0.75s cubic-bezier(0.25, 0.1, 0, 0.9) !important;
}
.menu_btn:hover a[class*="mbtns"] {
    opacity: 0.45;
    transition: opacity 0.5s, letter-spacing 0.4s cubic-bezier(0.25, 0.1, 0, 1.5);
}


/* MENU PPM LOGO */
#navtop_ppm {
    z-index: 104 !important;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 25%;
    transition: 2s cubic-bezier(0.5, 0, 0, 1.3);
}
#navtop_ppm img, #navtop_ppm a {
    position: absolute;
    width: 55px;
    height: 55px;
    transform: translateY(-50%) rotate(0.0001deg); /*rotate to help firefox create AA effect*/
    opacity: 0.85;
    transition: 0.6s cubic-bezier(0.5, 0, 0, 1);
}
#navtop_ppm a {
    border-radius: 9999px;
}
#navtop_ppm a:hover ~ img {
    opacity: 1;
    transform: translateY(-60%) rotate(0.0001deg);
    transition: 0.4s cubic-bezier(0.5, 0, 0, 1);
}
#navtop_ppm a:active ~ img {
    transform: translateY(-50%) rotate(0.0001deg);
    transition: 0.2s cubic-bezier(0.25, 0, 0, 1);
}
#navlarge_ppm {
    z-index: 102 !important;
    position: absolute;
    height: 100%;
    top: 0;
    left: -200px;
    transform: translate(0px, 0px) rotate(0deg) scale(1);
    transition: 1s cubic-bezier(0.5, 0, 0, 1);
}
#navlarge_ppm #ppm {
    height: 106%;
}

nav:hover #navtop_ppm {
    transform: rotate(360deg); /*580*/
    transition: 0.7s 75ms cubic-bezier(0.4, 0, 0, 1);
}


@media (min-width: 901px) /*PC*/ {

    #mobile_open_close_btn {
        display: none;
    }

#menu {
    top: 50%;
    transform: translateY(-50%);
}

nav:hover #navlarge_ppm {
    transform: translate(-30px, -20px) rotate(5deg) scale(1.05);
    transition: 0.5s cubic-bezier(0.5, 0, 0, 1);
}

}


/*/ MENU MOBILE /*/
@media (max-width: 900px) /*MOBILE*/ {
    :root {
        --nav-width: 0;
        --nav_show_btn_height: 8vw;
    }

    #mobile_open_close_btn {
        display: block;
    }

    #content {
        margin-top: 10%;
    }

nav {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    transform: translateY(calc(var(--nav_show_btn_height) - 100%));
    transition: top 0.5s cubic-bezier(0.35, 0, 0, 0.99) 0.3s;
}

#mobile_open_close_btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--nav_show_btn_height);
    background-color: var(--accent-fruit);
    cursor: pointer;
}

#menu {
    position: relative;
    margin-bottom: 45%; /*225px*/
}

.mbtns {
    padding: 25px;
}

#navtop_ppm {
    position: relative;
    margin-top: 32.5%; /*150px*/
    margin-bottom: 20%; /*100px*/
}
#navtop_ppm a {
    width: 110px;
    height: 110px;
}
#navlarge_ppm {
    height: 150%;
    top: -210px;
    left: -130px;
    opacity: 0.35;
}

nav:hover #navtop_ppm {
    transition-duration: 1.25s;
    transition-delay: 0.5s !important;
}

#mobile_nav_dark_bg {   
    z-index: 90;
    position: fixed;
    width: 100%;
    height: 105%;
    transform: translateY(-105%);
    opacity: 0;
    background-color: var(--accent-fruit);
    transition: transform 0.4s, opacity 0.6s;
    cursor: pointer;
}

}


/*/ CONTENT /*/
@keyframes content_spawn {
    0% { opacity: 0; }
    10% { opacity: 0; }
    100% { opacity: 1; }
}
#content {
    animation: content_spawn 1.5s cubic-bezier(0.35, 0.1, 0, 1);
}

#content {
    z-index: 10;
    position: absolute;
    width: calc(100% - var(--nav-width));
    /*height: 100%;*/
    margin-left: var(--nav-width);
    padding: 2.5%; /*40px*/
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/






















